cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
cssselect==1.1.0
cssutils==2.3.0
dkimpy==1.0.5
dnspython==2.2.0
idna==3.3
importlib-metadata==4.10.1
jeepney==0.7.1
keyring==23.5.0
lxml==4.7.1
premailer==3.10.0
pycparser==2.21
requests==2.27.1
SecretStorage==3.3.1
urllib3==1.26.8
XlsxWriter==3.0.2
yagmail==0.15.277
zipp==3.7.0
